p.arial {
    font-family: Arial;
}

p.georgia {
    font-family: Georgia;
}

p.verdana {
    font-family: Verdana;
}

p.trebuchet-ms {
    font-family: 'Trebuchet MS';
}

p.impact {
    font-family: Impact;
}

p.arial-black {
    font-family: "Arial Black";
}

p.comic-sans-ms {
    font-family: "Comic Sans MS";
}

p.courier-new {
    font-family: "Courier New";
}